//fonts
$primary-font: 'Roboto', sans-serif;

//colors
$primary-dark-blue: rgb(114, 209, 247);
$primary-mid-blue: rgb(172, 223, 243);
$primary-light-blue: rgb(214, 235, 243);
$primary-hover-blue:rgb(28, 148, 196);
$background: rgb(237, 240, 241);
$grey-dark: rgb(4, 4, 26);
$grey-light: rgb(80, 79, 79);
$red: rgb(255, 0, 0);
$red-dark: rgb(124, 11, 11);
$black: rgb(0,0,0);
$white: rgb(255, 255, 255);

//borders
$border-big: 20px;
$border-small: 10px;
$border-circle: 50%;

//others
$box-shadow: 5px 5px 10px $grey-light;
$transition-standard: all .3s linear;

//mixins
@mixin primary-button {
  background: $primary-dark-blue;
  border-radius: $border-big;
  border: 1px solid $black;
  padding: 10px;
  color: $black;
  transition: $transition-standard;

  &:hover {
    cursor: pointer;
    background: $primary-hover-blue;
    border: 1px solid $white;
    color: $white;
  }
}